@model List<WebApplication1.Models.User>
@inject IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "User Page";
	Layout = HttpContextAccessor.HttpContext.Session.GetString("Layout") as string;
	var userId = HttpContextAccessor.HttpContext.Session.GetString("UserID");

	if(int.TryParse(userId, out int UserID)){ }
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - e-Reserve</title>
</head>
<body>
    <h3>Users</h3>

    <form asp-action="Create" method="get">
        <button type="submit" class="btn btn-primary">Create New User</button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Username</th>
                <th>Last name</th>
                <th>First name</th>
                <th>Designation</th>
                <th>ID Number</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null)
            {
                @foreach (var user in Model)
                {
                <tr>
                    <td>@user.Username</td>
                    <td>@user.LastName</td>
                    <td>@user.FirstName</td>
                    <td>@user.Designation?.DesignationName</td>
                    <td>@user.UserNumber</td>
                    <td>@user.UserEmail</td>
                    <td>
                        <form asp-action="Edit" method="get">
                            <input type="hidden" name="UserId" value="@user.UserID" />
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" method="post">
                            <input type="hidden" name="UserId" value="@user.UserID" />
                            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
                        </form>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</body>
</html>